*{
	box-sizing: border-box;
}

body{
	padding: 10px;
}

header{
	background-color: #ccc;

	a {
		background-color: grey;
		height: 50px;
		margin-left: 50px;
	}

	h1{
		display: inline-block;
	}
}

nav{
	background-color: #ddd;
	overflow: auto;
	
}

ul{
	list-style-type: none;
}

.total_YTD{
	float:right;
	background-color: #ccc;
	border: 2px solid #bbb;
}

main{
	background-color: #eee;
	overflow: auto;
	padding: 10px;
}

.menu{

	li{
		display: inline;
	}
}



