*{
	box-sizing: border-box;
	font-family: "Roboto";
	color: $black;
}

a::visited{

	color: $black;
}

body{
	background-color: $bright_green;
	
}

header{
	background-color: $bright_green;

	a {
		background-color: grey;
		height: 50px;
		margin-left: 50px;
	}

	h1{
		display: inline-block;
		font-family:"Oswald";
		color: $off_white;
		font-weight: 400;
	}

	h2{
		color: $off_white;
		margin-right: 20px;
	}
}

nav{
	background-color: $grey;
	overflow: auto;

	.overview, .campaigns, .donors {
		background-color: $off_white;
		display: inline-block;
		margin-top: 30px;
	}

	.overview{
		margin-left: 60px;
	}

	a{
		padding: 10px;
		text-decoration: none;
		font-size: 24px;

	}
	
}

ul{
	list-style-type: none;
}

section{
	width: 20%;
	overflow:auto;
	display: block;
	float: left;
}

.total_YTD{
	float:right;
	color: $off_white;

	
}

main{
	background-color: $off_white;
	overflow: auto;
	padding: 10px;
}

.main_content{
	padding-left: 10px;
}

.campaign_menu, .donor_menu{
	background-color: #A3B5A4;
	height: 200px;
	margin-bottom: 10px;
}

.top_campaigns, .top_donors, .selected_campaign, .selected_donor, .donor_list{
	background-color: #A3B5A4;
	margin-bottom: 10px;
	overflow: auto;



	h2{
		text-decoration: none;
		margin: 10px;
		max-width: 400px;
		display: inline-block;
	}
}



