*{
	box-sizing: border-box;
	font-family: "Roboto";
	color: $black;
}

a::visited{
	color: $black;
}

body{
	background-color: $bright_green;
	
}

ul{
	list-style-type: none;
	padding-left: 0;

}


/* Header and Nav */
header{
	background-color: $bright_green;
	position: relative;
	padding: 10px;

	.logo{
		height: 28px;
		width: 28px;
		background: $bright_green url(../images/logo.svg) center no-repeat;
		display: inline-block;
		border: 1px solid $off_white;
		padding: 4px;
		margin-left: 10px;
		margin-right: 6px;
		margin-top: 4px;


	}

	h1{
		display: inline-block;
		font-family:"Playfair Display";
		color: $off_white;
		font-weight: 400;
		margin: 0;
		display:none;


	}

	.hamburger_menu{
		background: url("../images/hamburger2.svg") no-repeat right;
		display:block;
		height: 20px;
		width: 80px; 
		float: right;
		border: none;
		margin-top: 8px;
		margin-right: 10px;
	}

	.options{
		float:right;
		background-color: $bright_green;
		display:none;
		z-index: 9999;
		position: absolute;
		right: 0;
		top: 56px;
		color: $off_white;

		ul{
			margin: 0;
			display: block;	

		}

		li{
			text-decoration: none;
			border-top: 1px solid $off_white;
			
		}

		a{
			display: block;
			text-decoration: none;
			padding: 20px 50px;
			color: $off_white;

			


		}
	}

}
 
nav{
	background-color: $grey;
	overflow: auto;

	.overview, .campaigns, .donors, .overview_1, .campaigns_1, .donors_1 {
		background-color: $off_white;
		display: inline-block;
		width: 48%;
		margin-left: 3%;
		margin-top: 3%;
		text-align: center;
	}

	.campaigns{
		background-color: $off_white;
		display:none;
	}

	.donors{
		display: none;
	
	}

	a{
		
		text-decoration: none;

	}

}

.nav_2{
	display:none;
}

h2{
	margin: 10px;
	font-size: 18px;

}

h3{
		text-decoration: none;
		display: block;
		max-width: 400px;
		background-color: $soft_green;
		padding: 5px;
		margin: 0;
	}

/* Main Content */

main{
	background-color: $off_white;
	overflow: auto;
	padding: 10px;
	padding-top: 20px;
}

.main_content{
	padding-left: 10px;
	clear: left;
	overflow:auto;


	.border{
		background-color: $soft_green;

		h3:nth-child(2){
		float:right;
		}
	}

	.top_campaigns{
		clear:left;
	}

	a{display: inline-block;}

}

.total_TD{
		float: left;
		color: $off_white;
		font-size: 20px;
		overflow: auto;
		display:inline;
		margin: 20px 0;
		border-left: 2px solid $bright_green;
		padding-left: 6px;


		h2{
			color: $bright_green;
			margin-top: 0;
			margin-left: 0;
		}
		.toDateTotal{
			color: $bright_green;
			float:left;
		}

	}


.top_campaigns, .top_donors, .selected_campaign, .selected_donor, .donor_list{
	margin-bottom: 10px;
	overflow: auto;
	width: 50%;
	max-width: 400px;
	min-width: 190px;

}

.selected_campaign, .donor_list, .all_campaigns {
	clear:left;
	width: 50%;
	max-width: 400px; 

}

.top_campaigns, .top_donors{
	min-width: 400px;
	
	li{
		line-height: 2em;
	}

}

.all_campaigns, .top_campaigns, .top_donors, .selected_campaign{
	a {
		line-height: 2em;
	}

	ul{
		li{
			padding-left: 6px;
		}
		li:nth-child(odd){
			background-color: $grey2;
		}
	}
}


.donor_list{
	li{
			list-style-type: none;
			padding-left: 6px;

			
			&:nth-child(odd){
				background-color: $grey2;
			}
		}

		a{
			line-height: 2em;
			padding-right: 1%;
		}	


}

.selected_donor{
	clear:left;
	width: 100%;
	max-width: 800px;

	.donorsNames{
		overflow: scroll;
		height: 300px;
	}

	a{
		line-height: 1.6em
	}

	ul{
		font-weight: 700;

		li{
			padding-left: 6px;
		}

		li:nth-child(3){
			&::after{
				content: " (Spouse)";
			}
		}

		li:nth-child(4){
			&::after{
				content:"History";
				display:block;
				border-top: 2px solid $soft_green;
				background-color: $soft_green;
				margin: 12px 0 12px -6px;
				font-size: 18px;
				padding: 5px;

			}
		}
	}

	h3:nth-child(1){
		float:left; 
		width: 49%;
	}

	h3:nth-child(2){
		float:left; 
		width: 49%;
		margin-left: 1%;
		

	}


	.left{
		float:left;
		clear: left;
		width: 49%;
		margin-top: 16px;
		
		li{
			list-style-type: none;
			padding-left: 6px;

			
			&:nth-child(odd){
				background-color: $grey2;
			}
		}

		a{
			line-height: 2em;
			padding-right: 1%;
		}
		
	}

	.right{
		float:left;
		width: 49%;
		margin-left: 1%;
		overflow-x: scroll;
		text-overflow: ellipsis;
		
	}
}


