* {
  box-sizing: border-box;
  font-family: "Roboto";
  color: #1B1D1E; }

a::visited {
  color: #1B1D1E; }

body {
  background-color: #5FAD68; }

header {
  background-color: #5FAD68; }
  header a {
    background-color: grey;
    height: 50px;
    margin-left: 50px; }
  header h1 {
    display: inline-block;
    font-family: "Oswald";
    color: #f9f9f9;
    font-weight: 400; }
  header h2 {
    color: #f9f9f9;
    margin-right: 20px; }

nav {
  background-color: #E5E7EA;
  overflow: auto; }
  nav .overview, nav .campaigns, nav .donors {
    background-color: #f9f9f9;
    display: inline-block;
    margin-top: 30px; }
  nav .overview {
    margin-left: 60px; }
  nav a {
    padding: 10px;
    text-decoration: none;
    font-size: 24px; }

ul {
  list-style-type: none; }

section {
  width: 20%;
  overflow: auto;
  display: block;
  float: left; }

.total_YTD {
  float: right;
  color: #f9f9f9; }

main {
  background-color: #f9f9f9;
  overflow: auto;
  padding: 10px; }

.main_content {
  padding-left: 10px; }

.campaign_menu, .donor_menu {
  background-color: #A3B5A4;
  height: 200px;
  margin-bottom: 10px; }

.top_campaigns, .top_donors, .selected_campaign, .selected_donor, .donor_list {
  background-color: #A3B5A4;
  margin-bottom: 10px;
  overflow: auto; }
  .top_campaigns h2, .top_donors h2, .selected_campaign h2, .selected_donor h2, .donor_list h2 {
    text-decoration: none;
    margin: 10px;
    max-width: 400px;
    display: inline-block; }

@media screen and (min-width: 800px) {
  .campaign_menu, .donor_menu {
    float: left;
    clear: left;
    width: 100%; }
  .main_content {
    float: right;
    text-align: left;
    width: 80%; } }
