* {
  box-sizing: border-box;
  font-family: "Roboto";
  color: #1B1D1E; }

a::visited {
  color: #1B1D1E; }

body {
  background-color: #5FAD68; }

header {
  background-color: #5FAD68; }
  header a {
    background-color: grey;
    height: 28px;
    width: 28px;
    background: #5FAD68 url(../images/logo.svg) center no-repeat;
    display: inline-block;
    border: 2px solid #f9f9f9;
    padding: 4px;
    margin-left: 10px; }
  header h1 {
    display: inline-block;
    font-family: "Oswald";
    color: #f9f9f9;
    font-weight: 400;
    margin: 0; }

nav {
  background-color: #E5E7EA;
  overflow: auto; }
  nav .overview, nav .campaigns, nav .donors {
    background-color: #f9f9f9;
    display: inline-block;
    width: 48%;
    margin-left: 1%;
    text-align: center; }
  nav .campaigns {
    background-color: #C8D3C8; }
  nav .donors {
    display: none; }
  nav a {
    text-decoration: none; }
  nav h2 {
    margin: 10px;
    font-size: 18px; }

ul {
  list-style-type: none;
  padding-left: 0; }

section {
  overflow: auto;
  display: block; }

main {
  background-color: #f9f9f9;
  overflow: auto;
  padding: 10px;
  padding-top: 20px; }

.main_content {
  padding-left: 10px;
  clear: left;
  overflow: auto; }
  .main_content .total_YTD {
    float: left;
    color: #f9f9f9;
    font-size: 20px; }
    .main_content .total_YTD h2 {
      color: #5FAD68;
      font-size: 20px;
      margin-top: 0; }
  .main_content .border {
    background-color: #C8D3C8; }
    .main_content .border h3:nth-child(2) {
      float: right; }
  .main_content .top_campaigns {
    clear: left; }
  .main_content a {
    display: inline-block; }

.campaign_menu, .donor_menu {
  background-color: #A3B5A4;
  height: 200px;
  margin-bottom: 10px;
  display: none; }

.top_campaigns, .top_donors, .selected_campaign, .selected_donor, .donor_list {
  margin-bottom: 10px;
  overflow: auto;
  max-width: 400px; }
  .top_campaigns h3, .top_donors h3, .selected_campaign h3, .selected_donor h3, .donor_list h3 {
    text-decoration: none;
    margin: 5px;
    display: inline-block;
    margin-left: 0; }

.selected_campaign, .donor_list, .all_campaigns, .selected_donor {
  clear: left;
  max-width: 400px; }
  .selected_campaign h3, .donor_list h3, .all_campaigns h3, .selected_donor h3 {
    display: block;
    max-width: 400px;
    background-color: #C8D3C8;
    padding: 5px;
    margin-left: 0;
    margin-top: 0; }

.all_campaigns a {
  line-height: 2em; }

.all_campaigns ul li:nth-child(odd) {
  background-color: #eff0f1; }

.selected_campaign a {
  line-height: 2em; }

.selected_campaign li:nth-child(odd) {
  background-color: #eff0f1; }

.selected_donor {
  float: right; }
  .selected_donor a {
    line-height: 1.6em; }

@media screen and (min-width: 800px) {
  header {
    text-align: center; }
    header a {
      margin-left: 50px;
      margin-right: 15px; }
    header h1 {
      margin: 10px; }
  .campaign_menu, .donor_menu {
    float: left;
    clear: left;
    width: 100%; }
  .main_content {
    text-align: left; }
  nav {
    background-color: #E5E7EA;
    overflow: auto; }
    nav .overview, nav .campaigns, nav .donors {
      background-color: #f9f9f9;
      display: inline-block;
      margin-top: 30px;
      width: auto;
      margin-left: 0; }
    nav .overview {
      margin-left: 60px; }
    nav a {
      text-decoration: none; }
    nav h2 {
      margin: 10px;
      font-size: 18px; } }
